@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: sans-serif;
  src: url("Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
}


body {
  font: 16px 'Roboto', Arial, sans-serif;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.plotly {
  max-height: inherit;
}